
<a class="nav-link" href="{{ path('ajouter_utilisateur') }}">Nouvel utilisateur</a>
<ul>
    <li>nom {{ utilisateur.nom }}</li>
    <li>prenom {{ utilisateur.prenom }}</li>
    <li>email {{ utilisateur.email }}</li>
</ul>
