{% extends "::base.html.twig" %}

{% block title %}Quizzly{% endblock %}

{% block body %}
<h1>Connexion</h1>
{% if error %}
  <div>{{error.message}}</div>
{% endif %}
<form action="{{ path('login_check')}}" method="POST">
  <label for="email">Identifiant :</label>
  <input type="text" id="email" name="_username" value="{{last_email}}"/>
<br/>
  <label for="password">Mot de passe :</label>
  <input type="password" id="password" name="_password"/>

  <button type="submit">Se connecter</button>
</form>
{% endblock %}
